.hide_deleted {
    display: none;
}
div.class-body > ul > li {
    font-size: 0.7rem;
    list-style: none;
    background-color: transparent;
    color: inherit;
}
div.class-body > .resident_card_address {
    font-size: 0.6rem;
}