.hide_deleted {
    display: none;
}
div.class-body > ul > li {
    font-size: 0.9rem;
    list-style: none;
    background-color: transparent;
    color: inherit;
}
div.class-body > .resident_card_address {
    font-size: 0.8rem;
}
.phone_card_p {
    font-size: 0.8rem;
}
div.card_bgr {
    --bs-bg-opacity: 1;
    color: #01ffe6;
    background-color: #0f323866;
    border-color: #01f9fb;
}