.add_house_alert {
    font-size: 1rem;
    color: red;
}
.btn_back_link {
    color: #ff9b01;
}
.btn_preview {
    color: #01ffe6;
    background-color: #0f323866;
    border-color: #01f9fb;
}