div.form-group > div.input-group.mb-3 {
    align-items: end;
}
.resident_details_bgr {
    background-color: rgba(0, 52, 97, 0.397);
    border-radius: 20px;
}
.resident_details_title {
    font-size: 1.6rem;
    border-bottom: 2px solid #f0f8ff;
}
.resident_details_body {
    background-color: #f0f8ff1a;
    border-radius: 20px;
}
div.resident_details_bgr > div.alert {
    padding: 0.7rem 0.7rem;
    font-size: 1rem;
}
div.form-group > ul > li {
    font-size: 0.9rem;
    padding: .1rem 1rem;
    list-style: none;
    background-color: #ffffff28;
    color: inherit;
    text-align: left;
}
ul > li > span.active_badge{
    border-radius: 10px;
    background-color: rgb(222, 0, 0);
    cursor: pointer;
}

ul > li > span.deleted_badge{
    border-radius: 5px;
    background-color: grey;
    cursor: default;
    font-size: xx-small;
    font-style: italic;
}
.invalid_text{
    color: rgb(255, 0, 0);
    font-size: x-small;
}