.territorio_title{
    font-size: 2.5rem;
}
.link_hide {
    display: none;
}
div > a {
    color: white;
    text-decoration: none;
}
.view_link_outline {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #000000
}
.view_link_outline:hover {
    background-color: #0000005a
}