.App {
  text-align: center;
}

.App-header {
  background-color: #0b1831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

