table.table {
    font-size: 0.5rem;
    background-color: #313233;
    color: #00ffe7;
}
@media print {
    table.table {
        font-size: 10pt;
        background-color: #ffffff;
        /* border: solid 0.5px rgb(45, 45, 45); */
        color: rgb(45, 45, 45)
    }
    .street_print {
        font-weight: bold;
    }
  }